input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 100%;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], input[type="url"], input[type="tel"], textarea {
  height: 40px;
  width: 100%;
  border: none;
  background: white;
  color: #354052;
  padding: 0px 10px;
  opacity: 0.8;
  -webkit-transition: 0.2s border-color, 0.2s opacity;
  transition: 0.2s border-color, 0.2s opacity;
}
input, button {
display: inline;
}

.search {
padding:8px 15px;
background:rgba(50, 50, 50, 0.2);
border:0px solid #dbdbdb;
}
.button {
position:relative;
padding:6px 15px;
left:-8px;
border:2px solid #80AAFF;
background-color:#80AAFF;
color:#fafafa;
width: 100%;
}
.button:hover  {
border:2px solid #80AAFF;
background-color:#80AAFF;
color:#fafafa;
opacity: 0.8;
}
