
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Jinjang-Empowerment-Ebusiness/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Jinjang-Empowerment-Ebusiness/index.php [L]
</IfModule>

# END WordPress