/**
 * Just a wee bit of custom styling for the customizer
 *
 * @package Cryout Framework
 */

/* Panel maximizer */
#customize-theme-controls .customize-control + .customize-control { margin-top: 5px; }
.wp-full-overlay .button.cryout-expand-sidebar {
	left: initial;
	right: 0;
	margin-left: 0;
	margin-right: 5px;
	padding: 0 3px;
	position: absolute;
}
.wp-full-overlay .button.cryout-expand-sidebar:focus, .wp-full-overlay .button.cryout-expand-sidebar:hover {
	background: transparent;
	border-color: transparent;
}
.wp-full-overlay .cryout-expand-sidebar .collapse-sidebar-label {
	left: initial;
	right: 100%;
	margin-left: 0;
	margin-right: 10px;
}
.wp-full-overlay .cryout-expand-sidebar .collapse-sidebar-arrow::before { transform: rotate(180deg); }

.wp-full-overlay.cryout-maximized .cryout-expand-sidebar  .collapse-sidebar-arrow::before { transform: initial; }

.wp-full-overlay.cryout-maximized { margin-left: 40%; }

.wp-full-overlay.cryout-maximized .wp-full-overlay-sidebar {
	margin-left: 0 !important;
	width: 40% !important; }

/* Panel maximizer wp 4.5+ */
.wp-full-overlay .wp-full-overlay-footer { transition: width .2s; }
.wp-full-overlay.cryout-maximized .wp-full-overlay-footer { width: 40% !important; }
.wp-full-overlay-footer .devices .cryout-expand-sidebar { float: left; position: static; }
.wp-full-overlay-footer .devices .cryout-expand-sidebar .collapse-sidebar-label { display: none; }

/* General panels/sections */
#customize-theme-controls [id*="cryout-"] .customize-control-radioimage input[type="radio"] {
	display: none;
}

#customize-theme-controls [id*="cryout-"] .customize-control-radioimage .ui-button {
    margin:        0;
    border-radius: 0;
    border:        none;
    background:    transparent;
}

#customize-theme-controls [id*="cryout-"] .customize-control-radioimage .ui-button-text { padding: 0; }

#customize-theme-controls [id*="cryout-"] .customize-control-radioimage img {
    box-sizing: border-box;
    max-width:  100%;
    height:     auto;
    padding:    1px;
    border:     4px solid transparent;
}

#customize-theme-controls [id*="cryout-"] .customize-control-radioimage img:hover,
#customize-theme-controls [id*="cryout-"] .customize-control-radioimage img:focus {
	border-color: #ddd;
}

#customize-theme-controls [id*="cryout-"] .customize-control-radioimage .ui-state-active img,
#customize-theme-controls [id*="cryout-"] .customize-control-radioimage input[type="radio"]:checked + label > img {
    border-color: #00a0d2;
}

/* Theme panels/sections */
#customize-theme-controls [id*="cryout-"] .ui-slider { max-width: 80%; }

#customize-theme-controls [id*="cryout-"].control-panel .control-section .accordion-section-title:after,
#customize-theme-controls [id*="cryoutspecial-"].control-panel .control-section .accordion-section-title:after {
	/*transform: rotate(90deg);*/ }

#customize-theme-controls [id*="cryout-"].control-panel .control-section .accordion-section-content,
#customize-theme-controls [id*="cryoutspecial-"].control-panel .control-section .accordion-section-content  {
	/*position: initial;
	left: 0;*/
	border-bottom: 1px solid #ddd;
}

#customize-theme-controls [id*="cryout-"].control-panel .control-section .accordion-section-content .customize-section-title,
#customize-theme-controls [id*="cryoutspecial-"].control-panel .control-section .accordion-section-content .customize-section-title {
	/*display: none;
	margin: 0;*/
}

/* Animation workaround for conditional controls */
/*#customize-theme-controls [id^="accordion-panel-cryout-"] li[id^="accordion-section-cryout-"] > ul {
    margin-top: 0 !important;
}*/

#customize-theme-controls [id*="cryout-"].control-section.control-section-sidebar .accordion-section-content.ui-sortable {
	overflow: auto;
}

#customize-theme-controls [id*="cryout-"] .customize-control-description { margin-top: 5px; color: #888; }

#customize-theme-controls [id*="cryout-"] .customize-control input[type="range"] { width: 98%; }

#customize-theme-controls [id*="cryout-"] .customize-control input[type="text"],
#customize-theme-controls [id*="cryout-"] .customize-control input[type="password"],
#customize-theme-controls [id*="cryout-"] .customize-control input[type="email"],
#customize-theme-controls [id*="cryout-"] .customize-control input[type="search"],
#customize-theme-controls [id*="cryout-"] .customize-control input[type="url"] { }

#customize-theme-controls [id*="cryout-"] .customize-control input[type="number"] { max-width: 100px; }
#customize-theme-controls [id*="cryout-"] .customize-control input[type="tel"] { max-width: 300px; }

#customize-theme-controls [id*="cryout-"] .customize-control-color .customize-control-title { float: left; max-width: 78%; }
#customize-theme-controls [id*="cryout-"] .customize-control-color .customize-control-content { float: right; }
#customize-theme-controls [id*="cryout-"] .customize-control-color .customize-control-description { clear: both; }
#customize-theme-controls [id*="cryout-"] .customize-control-color .wp-color-result::after { content: ''; }

/* theme identifier */

#customize-theme-controls [id*="cryout-"] h3.accordion-section-title::before {
    background-color: #fff;
    display: block;
    font-size: 0.85em;
    left: 12px;
    padding: 0 3px;
    position: absolute;
}

#customize-theme-controls [id*="cryout-"] h3.accordion-section-title {
    padding-left: 40px;
}

#customize-theme-controls [id*="cryout-fluida"] h3.accordion-section-title::before {
	content: "FL";
    border: 1px solid #0085B2;
    color: #0085B2;
}

#customize-theme-controls [id*="cryout-septera"] h3.accordion-section-title::before {
	content: "SE";
    border: 1px solid #24a7cf;
    color: #24a7cf;
}

#customize-theme-controls [id*="cryout-verbosa"] h3.accordion-section-title::before {
	content: "VE";
    border: 1px solid #F26E3F;
    color: #F26E3F;
}

#customize-theme-controls [id*="cryout-anima"] h3.accordion-section-title::before {
	content: "AN";
    border: 1px solid #d0422c;
    color: #d0422c;
}

#customize-theme-controls [id*="cryout-kahuna"] h3.accordion-section-title::before {
	content: "KA";
    border: 1px solid #8cb65f;
    color: #8cb65f;
}

/* about section */
#customize-theme-controls [id*="site_icon"] img,
#customize-theme-controls [id*="_logoupload"] img {
    width: initial;
}

#customize-theme-controls [id*="accordion-section-about"] .accordion-section-content,
#customize-theme-controls [id*="accordion-section-cryoutspecial-about-theme"] .accordion-section-content, {
	display: block;
}

#customize-theme-controls [id*="accordion-section-about"] .customize-cryoutspecial-about-link a,
#customize-theme-controls [id*="accordion-section-cryoutspecial-about-theme"] .customize-cryoutspecial-about-link a {
	display: block;
	max-width: 300px;
	padding: 10px;
	border: 1px solid #DDD;
	font-weight: bold;
	background: #fff;
	text-align: center;
}

/* theme logo in about section */
#accordion-section-cryoutspecial-about-theme > .accordion-section-title::before,
#accordion-panel-cryoutspecial-about-theme > .accordion-section-title::before {
	background: url(../../admin/images/logo-customizer.png) center right no-repeat;
    content: "";
    height: 22px;
    position: absolute;
    right: 40px;
    top: 11px;
    min-width: 35%;
}

/* sortable */
.customize-control-sortable .ui-sortable-handle { 
	cursor: move; 
	padding: .5em 1em; 
	background: #FFF; 
	border: 1px solid #DDD; 
	transition: .3s ease-out all; 
	-webkit-transition: .3s ease-out all; 
}
.customize-control-sortable .ui-sortable-handle:hover { 
	background: #f6f6f6; 
}
.customize-control-sortable .sortable-edit { 
	float: right; 
	opacity: .5;
}
.customize-control-sortable .sortable-edit:hover {
		opacity: 1;
}

/* Notices */
#customize-theme-controls [id*="cryout-"] .customize-control-notice {
	margin-top: -10px;
}

#customize-theme-controls [id*="cryout-"] .customize-cryoutcontrol-notice-desc {
    background: #fff;
    border: 1px solid #ddd;
    color: #222;
    padding: 8px 12px;
	font-size: 1.1em;
	line-height: 1.4;
	font-style: normal;
}

#customize-theme-controls [id*="cryout-"] .customize-cryoutcontrol-notice-desc a {
	cursor: pointer;
}

#customize-theme-controls [id*="cryout-"] .customize-cryoutcontrol-notice-warning-desc {
	color: #900;
}

.customize-control-sortable .sortable li.status-disabled { 
	opacity: 0.5; 
}

/* RTL */
.rtl #accordion-panel-cryoutspecial-about-theme > .accordion-section-title::before {
	right: auto;
	left: 10px;
}

.rtl #customize-theme-controls [id*="cryout-"] h3.accordion-section-title::before {
    left: initial;
	right: 14px;
}

.rtl #customize-theme-controls [id*="cryout-"] h3.accordion-section-title {
    padding-left: 0px;
	padding-right: 40px;
}

.rtl .wp-full-overlay.cryout-maximized { margin-left: 0; margin-right: 40%; }
.rtl .wp-full-overlay .cryout-expand-sidebar .collapse-sidebar-arrow::before { transform: rotate(0deg); }
.rtl .wp-full-overlay.cryout-maximized .cryout-expand-sidebar  .collapse-sidebar-arrow::before  { transform: rotate(180deg); }
.rtl #accordion-section-cryoutspecial-about-theme > .accordion-section-title::before, #accordion-panel-cryoutspecial-about-theme > .accordion-section-title::before {
	right: auto; left: 40px; }

/* FIN */
